---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Mono"
  description="About Mono"
  publishedDate={new Date('May 12 2024')}
  updatedDate={new Date('May 12 2024')}
  heroImage="/blog-placeholder-about.jpg"
>
  <h2>本ブログのテーマ</h2>
  <p>
    本ブログでは、ITの全般的な技術の発信を目的としています。特にフロントエンド領域に関する話が多いです。
  </p>
  <h2>Monoについて</h2>
  <p>日本在住。フロントエンドエンジニアとして働いています。</p>
  <h2>技術スタック</h2>
  <p></p>
  <h2>歴史</h2>
  <p>
    ブログの制作動機として、何かしらのアウトプットが欲しいという気持ちがありました。SSGのフレームワークとしてAstro
    を使用しています。
  </p>
</Layout>
