---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Mono"
  description="About Mono"
  publishedDate={new Date('May 12 2024')}
  updatedDate={new Date('May 12 2024')}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>Mono</p>
</Layout>
