---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage frontmatter={{ title: '私のカスタムページ' }}>
  <p>これはカスタムコンポーネントを用いたカスタムページです:</p>
</StarlightPage>
